<h1>Wordpress - Clean Install</h1>
<p>A starting platform for creating a new Wordpress site.  The following features have been added to this initial build.</p>
<ul>
	<li><a href="https://github.com/tidythemes/blankslate">tidythemes/blankslate</a></li>
	<li><a href="https://github.com/elliotcondon/acf">elliotcondon/acf</a></li>
	<li><a href="https://github.com/h5bp/html5-boilerplate">h5bp/html5-boilerplate</a></li>
	<li><a href="https://github.com/ftlabs/fastclick">ftlabs/fastclick</a></li>
	<li><a href="http://gruntjs.com/">Grunt</a></li>
	<li><a href="http://lesscss.org/">LESS</a><li>
</ul>
<p>The blankslate folder can be renamed to anything more suitable to the project, but will require the directory to be updated in <code>Gruntfile.js</code>, <code>.gitignore</code>, and the theme's <code>functions.php</code> file.</p>
<p>All CSS and JavaScript should be edited in the <code>/dev</code> folder.  Running <code>grunt watch</code> in terminal will automatically comple all of the CSS and JS into its dev format <strong>and</strong> will automatically refresh the page you are viewing.</p>
<p>When ready to push a commit live, run <code>grunt production</code> to minify all of the concatenated CSS and JS.  The theme's functions.php file will automatically place the minified version into the live commit.</p>