
/*Theme Name: GM Financial Careers
Theme URI: http://4mf.co
Author: Joshua McCarthy
Author URI: http://4mf.co
Description: Constructed off the theme Blankslate by TidyThemes. (http://wordpress.org/themes/blankslate)
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: GM Financial, custom
Text Domain: gmfcareers

GM Financial Careers Theme © 2015 GM Financial
BlankSlate is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

/* LESS VARIABLES */

@blue: #005BA0;
@transBlue: rgba(0,91,160,0.75);
@darkGray: #59636D;
@lightGray: #7E858E;
@borderGray: #C7CCD4;
@bgGray: #EDF0F8;
@white: #F6F7F9;
@black: #273031;
@imgURL: '/wp-content/themes/gmfcareers/img/';
@svgURL: '/wp-content/themes/gmfcareers/img/svgs/';

.green.button{
	background-image: svg-gradient(to bottom, #79DC00 34%, #486a09);
	border-radius: 3px;
	border: 1px solid #334b07;
	box-shadow: inset 0 0 1px 0px rgba(255,255,255,0.25);
	padding:1em 0.5em;
	text-shadow: 0 1px 1px 3px rgba(0,0,0,0.35);
	font-size:1.125em;
}

.blue.button{
	background-image: svg-gradient(to bottom, #0084D0 34%, #002f59);
	border-radius: 3px;
	border: 1px solid #022f77;
	box-shadow: inset 0 0 1px 0px rgba(255,255,255,0.25);
	padding:1em 0.5em;
	font-size:1.125em;
}

.white.button{
	background-image: svg-gradient(to bottom, #C7CCD4 34%, #fcfdfe);
	border-radius: 3px;
	box-shadow: inset 0 0 1px 0px rgba(0,0,0,0.25);
	padding:0.5em 1em;
	font-size:1.125em;
	color:@darkGray !important;
	border:none;
}

.gray.button{
	border-radius: 5px;
	background: @darkGray;
	font-size:0.875em;
	padding:1em 2em;
	margin:1em 0;
}

.button{
	font-family: "sofia-pro", Arial, sans-serif;
	color: @white !important;
	text-transform:uppercase;
	text-align: center;
	font-weight:900 !important;
}

/* TYPOGRAPHY */
html{
	font-size:16px !important;
	font-family: Arial, sans-serif;
	background:@white;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body{
	overflow-x:hidden;
}

h1, h2, h3{
	margin:1em auto;
	font-weight: 900;
	line-height: 1.375em;
	font-family: "sofia-pro", Arial, sans-serif;
}

h1{
	color: #666;
	font-size: 2.250em;
	text-transform: uppercase;
	letter-spacing:0.06em;	
}

h1.uber{
	font-size:5em;
}

h2{
	color: #666;
	font-size: 1.750em;
	text-transform: uppercase;
	letter-spacing:0.06em;
	line-height: 1.2em;
}

h3{
	font-size: 1.250em;
	font-family: Arial, sans-serif !important;
	text-transform: none;
	font-weight: 600;
}

h3.title{
	color: @blue;
	text-transform: uppercase;
}

h4{
	font-family: Arial, sans-serif;
}

h4 small{
	font-style:italic;
}

p, li, dt, dd{
	font-size: 1em;
	line-height: 1.375em;
	color: @darkGray;
}

p small{
	font-size: 0.813em;
}

p strong{
	color: @darkGray;
	font-weight: 500;
}

/*  GLOBAL STYLINGS */

.main-container{
	max-width: 1180px;
	width: 100%;
	margin:0 auto;
	padding: 0;
	position: relative;
	background:@white;
}

.container-wrapper{
	max-width:1060px;
	width:100%;
	margin:0 auto;
	padding:0;
	position:relative;
}

.inner-container{
	max-width:1021px;
	width:90%;
	margin:0 auto;
	padding:0;
	position:relative;
}

main{
	position:relative;
	z-index:4;
}

a{
	text-decoration: none;
}

h1 a{
	color: inherit;
}

.white{
	color: @white;
}

/*  HEADER STYLINGS */

#header{
	position: absolute;
	top:0;
	width:100%;
	z-index:5;
}

#header .main-container{
	background: @transBlue;
	height: 70px;
}

#header #site-title h1, #footer #copyright figure{
	text-indent: -1000em;
	background: url("@{svgURL}gmf-logo.svg") no-repeat center center;
	width: 202px;
	height: 36px;
	float:left;
	margin: 0.5em 0;
}

#header nav .menu-header-menu-container{
	overflow: hidden;
  width: 100%;
  display: block;
  height: 260px;
  position: relative;
  top: 2px;
}

#header nav ul{
	display:block;
	background:@transBlue;
	padding:1em;
	 max-width: 100px;
  width: 50%;
  position: absolute;
  top: -100%;
  right:-0.5em;
  transition: all 0.3s ease;
}

#mobile_toggle:focus + .menu-header-menu-container > ul, #mobile_toggle:hover + .menu-header-menu-container > ul{
	top:0;
}

.js #header nav ul.active{
	top:0;
}

#header nav ul li{
	width:100%;
	text-align: right;
	padding:.25em 0;
}

#header nav ul li a{
	color: @white;
	font-family: "sofia-pro", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 0.875em;
	text-shadow: 0 0 8px @transBlue;
}

#mobile_toggle{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: .5em;
  cursor: pointer;
  padding: 1em 4% 1em 2em;
}

#mobile_toggle div{
	height:2px;
	margin:5px 0;
	background:@white;
	box-shadow: 0 0 8px @transBlue;
}

/*  FOOTER STYLINGS */

footer{
	float:left;
	width:100%;
	display:block;
	clear:both;
}

#footer *{
	color:@white;
	font-family: "sofia-pro", Arial, sans-serif;
}

#footer .main-container{
	background:@darkGray;
	float: left;
}

#footer nav{
	padding:1em 0 0 0;
}

#footer nav ul{
	width: 100%;
	float:left;
	margin:1em 0 0 0;
}

#footer nav ul li{
	display:block;
	float:left;
	width:100%;
}

#footer nav ul li:first-child{
	padding-left:0;
	border-left:none;
}

#footer nav ul li:last-child{
	padding-right:0;
}

#footer nav ul li a{
	text-transform: uppercase;
	font-weight: 900;
}

#footer #copyright figure{
	clear:both;
	margin:2em 0;
}

#footer #copyright p{
	font-weight: 100;
	width:100%;
	float:left;
	clear:both;
	margin:1em 0;
}

/* HOMEPAGE STYLES */

.home main .main-container{
	background-repeat: no-repeat;
	background-position:top center;
}

.home main article{
	margin-top:0 !important;
}

#search{
	height: 400px;
	width: 100%;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

#search.results{
	height:auto;
	float:left;
	width:100%;
	margin-top:3em;
}

#search figure{
	position: relative;
	width:100%;
	margin: 330px 0 0 0;
	padding:1em 0 .5em 0;
	background:@blue;
	border-top: 5px solid @darkGray;
	float:left;
}

#search input{
	font-size: 1.125em;
	padding:.5em 5em .5em 1em;
	margin:.5em 0;
	color: @black;
	border-radius:3px;
	border:none;
	float:left;
	width: 60%;
}

#search input:first-child{
	margin-left: 0;
}

#search button{
	float:left;
	margin:.5em 0;
	width: 115px;
  text-align: center;
  clear:left;
}

#search ul{
	display:block;
	position: absolute;
	background-color: @white;
	border:1px solid @lightGray;
	z-index: 5;
	width:27%;
	overflow-x:hidden;
	overflow-y:scroll;
	height: 20em;
	display:none;
}

#search ul li{
	padding:.5em;
	width:100%;
	margin:0;
}

#search ul li:hover{
	background:@blue;
	color:@white;
}

#search #jobType_list{
	left: 586px;
  top: 3.5em;
}

#search #location_list{
	left: 292px;
  top: 3.5em;
}

#employee_quote{
	position: relative;
}

#employee_quote .inner-container{
	position: static;
}

#employee_quote, #employee_quote slide{
	width:100%;
	float:left;
}

#employee_quote h2{
	float:left;
	width:100%;
	display:block;
	clear:both;
}

#employee_quote .left{
	width:100%;
	float:left;
	position: relative;
	z-index: 2;
}

#employee_quote .right{
	width:92%;
	float:right;
	position: absolute;
	bottom:0px;
	left:4%;
	z-index: 1;
}

#employee_quote p{
	width:100%;
	float:left;
	display:inline;
	font-size:1.375em;
	font-style: italic;
	font-weight:100;
}

#employee_quote aside{
	float:right;
	clear:both;
	margin:1em 0 10em 0;
	color:@lightGray;
	font-weight:100;
	width:60%;
}

#employee_quote aside strong{
	font-weight: 100;
	color:@darkGray;
	margin-right:1em;
}

#employee_quote figure{
	width:50%;
	margin:0;
	padding:0;
	display:block;
	float:left;
	height: 181px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 104px auto;
}

#cta_rows{
	float:left;
	width:100%;
	background:@lightGray;
	padding:1em 0 3em 0;
}

#cta_rows *{
	color:@white;
}

#cta_rows h2{
	width:100%;
	display:block;
	float:left;
	clear:both;
	margin-bottom:0;
}

#cta_rows p{
	width:100%;
	float:left;
	clear:left;
	display:inline-block;
	margin:1em 0;
}

#cta_rows .button{
	max-width: 240px;
  width: 100%;
  margin: 1em auto;
  display: block;
  clear: both;
}

#cta_rows #social_links{
	width:100%
}

#cta_rows #social_links li{
	text-indent: -1000em;
	background:url("@{imgURL}social_sprite.png");
	width:64px;
	height:64px;
	display:block;
	float:left;
	margin-left:.25em;
} 

#cta_rows #social_links li.one{
	margin-left:0;
}

#cta_rows #social_links li.two{
	background-position: -65px 0;
}

#cta_rows #social_links li.three{
	background-position: -130px 0;
}

#cta_rows #social_links li.four{
	background-position: 65px 0;
}

#why_work{
	float:left;
	width:100%;
	background: url("@{imgURL}hooray.jpg") no-repeat center center;
	background-size:cover;
	padding:1em 0;
}

#why_work *{
	color:@white;
}

#why_work h2, #why_work p{
	float:left;
	width:100%;
}

#why_work p{
	margin:0 0 2em 0;
}

#recent_jobs, #recent_event{
	float:left;
	width:100%;
	padding: 0 0 1em 0;
}

#recent_event *{
	text-align:left !important;
}

#recent_jobs .job, #recent_event .event{
	width:100%;
	float:left;
	display: block;
	clear: both;
	padding:1em 0;
}

#recent_jobs hgroup, #recent_event hgroup{
	font-weight: 900;
	width:100%;
	border-bottom:2px solid @bgGray;
	padding:.5em 0;
	float:left;
}

#recent_jobs p:first-child, #recent_jobs hgroup h5:first-child{
	width: 10%;
	text-align: left;
}

#recent_jobs p, #recent_jobs hgroup h5, #recent_event p, #recent_event hgroup h5{
	width:16%;
	float:left;
	clear:none;
	display:inline-block;
	text-align: right;
}

#recent_event p{
	margin:0;
}

#recent_jobs hgroup h5, #recent_event hgroup h5{
	color: @lightGray;
}

#recent_jobs h4, #recent_jobs hgroup h4, #recent_event h4, #recent_event hgroup h4{
	width:42%;
	float:left;
}

#recent_event h4, #recent_event hgroup h4{
	width: 60%;
	line-height:1.375em;
}

#recent_event hgroup h4{
	line-height:0.9em;
}

#recent_jobs h4 a, #recent_event h4 a{
	text-decoration: underline;
	color: @blue;
	text-transform: uppercase;
}

#recent_jobs hgroup h4, #recent_event hgroup h4{
	color: @darkGray;
}

/* GLOBAL PAGE STYLES */

article{
	margin:0 0 1em 0;
	float:left;
	width:100%;
}

article .attachment-post-thumbnail{
	border-bottom: 5px solid @transBlue;
}

main article.page.type-page, .single article{ 
	margin-top:70px;
}

article h1.entry-title{
	width:100%;
	text-align: center;
	float:left;
}

article #post_careers{
	float:left;
	width:100%;
	margin:2em 0;
}

article #post_careers .container-wrapper:first-child{
	border-top: 1px solid @borderGray;
}

article #post_careers h2{
	font-size:1.250em;
	margin:.5em 0;
}

article p,article ul,article ol,article dl,article li,article dt,article dd{
	margin:0 0 1em 0;
}

article h3{
	color:@darkGray;
}

article p{
	font-weight:400;
}

/*  CULTURE PAGE STYLES */

#post-11{
	margin-top:0;
}

#uber_cta{
	width: 100%;
	background-size: 1098px 521px;
	height: 521px;
	background-repeat:no-repeat;
	background-position: center top;
	position: relative;
	display:block;
	float:left;
	padding-bottom:120px;
}
#uber_cta h1.uber{
	position: absolute;
  bottom: -40px;
  width: 90%;
  text-align: center;
  padding: 0 5%;
  line-height:1em;
}

/*  JOB ENTRY STYLES */
#job-entry header, #event_entry header{
	background:@bgGray;
	margin:2em 0;
	float: left;
	width:100%;
	border-top:1px solid @borderGray;
	border-bottom:1px solid @borderGray;
}

#job-entry header h2{
	width:100%;
	float:left;
}

#job-entry h3{
	margin:1em 0 .5em;
}

#job-entry header .button{
	float:left;
	width: 100%;
	margin:1em 0;
}

#job-entry aside p{
	margin:0 0 .5em 0;
}

#job-entry ul{
	list-style-type:disc;
	margin-left:1em;
}

#job-entry ul li{
	padding-left:.5em;
}

#job-entry .button{
	margin:1em 0;
	float:left;
	width:100%;
	max-width: 140px;
}

/*  BENEFITS STYLES */

#post-9{
	margin-top:0;
}

.page-id-9 article ul{
	font-weight: 900;
	column-count: 1;
}

.page-id-9 article ul li{
	width:70%;
	padding-right:30%;
}

/* JOB PAGE STYLES */

#archive_careers{
	margin-top:37px;
}

#archive_careers h3{
	float:left;
} 

#post_careers{
	overflow-x:hidden;
	margin-top:0;
}

#post_careers section.job, #archive_careers section.job{
	width: 100%;
	background: @bgGray;
	border-bottom: 1px solid @borderGray;
	float:left;
	padding:2em 0 1em 0;
}

#post_careers > .job:first-of-type, #archive_careers > .job:first-of-type{
	border-top: 1px solid @borderGray;
	margin-top:2em;
}

#post_careers section.job *, #archive_careers section.job *{
	color: @lightGray;
}

#post_careers section.job .left, #archive_careers section.job .left{
	width:100%;
	float:left;
}

#post_careers section.job .middle, #archive_careers section.job .middle{
	width:100%;
	float:left;
}

#post_careers section.job .right, #archive_careers section.job .right{
	width:100%;
	float:right;
	padding:1em 0;
}

#post_careers section.job .left *, #archive_careers section.job .left *{
	float:left;
	margin:0;
	padding:0;
}

#post_careers section.job .left p strong, #archive_careers section.job .left p strong{
	font-weight: 900;
	position:relative;
	top:-2px;
}

#post_careers section.job .middle h4 a, #archive_careers section.job .middle h4 a{
	color: @blue;
	font-weight: 900;
	text-transform: uppercase;
}

#post_careers section.job .middle p, #archive_careers section.job .middle p{
	width:100%;
	float:left;
	margin:1em 0 0 0;
}

#post_careers section.job .middle p strong, #archive_careers section.job .middle p strong{
	font-weight: 900;
	margin-right:.5em;
}

#post_careers section.job .right a, #archive_careers section.job .right a{
	float:left;
	margin:0;
}

#post_careers section#allJobs, #archive_careers section#allJobs{
	background: none;
}

#post_careers section#allJobs h2, #archive_careers section#allJobs h2{
	text-align: center;
	width:100%;
	margin:1em 0;
	float:left;
}	

#post_careers section#allJobs h2 a, #archive_careers section#allJobs h2 a{
	text-decoration: underline;
	color: @darkGray;
	font-weight: 100;
}

/* EVENT POST STYLES */

#event_entry header{
	float:left;
	width: 100%;
	display:block;
	position: relative;
	margin-top:0;
}

#event_entry header img{
	float:left;
	width:90%;
	border: 1em solid @white;
	height:auto;
	margin-bottom: 1em;
}

#event_entry header aside{
	float:left;
	width:100%;
	margin:0;
}

#event_entry header aside p strong{
	font-weight: 900;
}

/* RESPONSIVE STYLES */

@media only screen and (min-width: 37.500em){
	.home #search{
		height: 670px;
	}

	#employee_quote .left{
		width:80%;
		float:left;
	}

	#employee_quote .right{
		width:20%;
		float:right;
		margin:0;
		left: auto;
		right:4%;
	}

	#employee_quote aside{
		margin:1em 0;
		width:100%;
	}

	#employee_quote figure{
		width:100%;
		margin:0;
		padding:0;
		float:left;
	}

	#cta_rows p{
		width:65%;
	}

	#cta_rows .button{
		float:right;
		max-width: 30%;
		width:100%;
		clear:none;
		display: inline-block;
	}

	#cta_rows #social_links{
		float: left;
	}

	#footer nav{
		padding:2em 0 0 0;
	}

	#footer .main-container{
		height: 375px;
	}

	#footer nav ul li{
		float:left;
		padding:0 .75em;
		border-left: 2px solid @white;
		width:auto;
		margin:.5em 0;
	}

	#search input{
		width:80%;
	}

	#search figure{
		margin-top:430px;
	}
}

@media only screen and (min-width: 48.000em){
	#header nav{
		float:right;
		margin-top: 1.5em;
	}

	#mobile_toggle{
		display:none;
	}

	#header nav .menu-header-menu-container{
		overflow:visible;
		height:auto;
		width:auto;
		position: static;
	}

	#header nav ul{
		position: static;
	  right: auto;
	  top: auto;
	  background: 0 0;
	  max-width: 100%;
	  width: auto;
	  padding:0;
	}

	#header nav ul li{
		float:left;
		margin-left: 2em;
		width:auto;
		text-align: left;
		padding:0;
	}

	#header nav ul li a{
		border-top: 6px solid rgba(255,255,255,0);
		border-bottom: 6px solid rgba(255,255,255,0);
		padding:0.5em 0;
	}

	#header nav ul li.current-menu-item a{
		border-top: 6px solid rgba(255,255,255,1);
		border-bottom: 6px solid rgba(255,255,255,1);
	}	

	#cta_rows #social_links{
		width:33%;
		float:right;
	}

	#cta_rows #social_links li.one {
	  margin-left:15%;
	}

	#cta_rows #social_links li{
		margin-left:15%;
	}

	#job-entry header h2{
		width:75%;
	}

	#job-entry header .button{
		float:right;
		width: 15%;
		margin:1em 0;
	}

	.page-id-9 article ul{
		font-weight: 900;
		column-count: 2;
	}

	#uber_cta{
		padding-bottom:0;
	}

	#event_entry header{
		margin-top:2em;
	}

	#event_entry header img{
		float:left;
		width:50%;
		height:auto;
		margin-bottom: 1em;
		border: 1em solid @white
	}

	#event_entry header aside{
		float:left;
		width:35%;
		margin:0 0 0 1em;
	}

	#search figure{
		position: absolute;
		top:600px;	
		margin:0;
	}

	#search.results figure{
		position: relative;
		top: 0;
		margin-bottom:1em;
	}

	#search input,#search button{
		margin:1em 0 1em .5em;
		padding: .5em;
		width:25%;
	}

	#search button{
		clear:none;
		width: 13%;
	}
	#employee_quote{
		padding-top:2em;
	}
}

@media only screen and (min-width: 65.000em){
	.inner-container{
		width:100%;
	}

	#cta_rows .button{
		float:right;
		max-width: 26%;
	}

	#cta_rows #social_links{
		width:28%;
	}

	#cta_rows #social_links li.one {
	  margin-left:0;
	}

	#cta_rows #social_links li{
		margin-left:3%;
	}

	#footer .main-container{
		float:none;
	}
	#post_careers section.job .left, #archive_careers section.job .left{
		width:10%;
	}

	#post_careers section.job .middle, #archive_careers section.job .middle{
		width:75%;
	}

	#post_careers section.job .right, #archive_careers section.job .right{
		width:15%;
	}

	#post_careers section.job .middle p, #archive_careers section.job .middle p{
		width:33.3%;
		float:left;
		margin:0.5em 0 1em 0;
	}

	#post_careers section.job .right a, #archive_careers section.job .right a{
		float:none;
	}

	#search input{
		margin:1em 0 1em .5em;
		padding: .5em 5em .5em .5em;
		width:auto;
	}

	#search button{
		clear:none;
		width: 135px;
	}
}

@media only screen and (min-width: 75.000em){
	

	
}